---
import { SITE } from "src/config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import getUniqueTags from "@utils/getUniqueTags";
import getPostsByTag from "@utils/getPostsByTag";
import type { MarkdownInstance } from "astro";
// import type { Frontmatter } from "src/types";
import slugify from "@utils/slugify";

import type { Post } from "../../lib/contentful";
import { contentfulClient } from "../../lib/contentful";

export interface Props {
  post: Post;
  tag: string;
}

export async function getStaticPaths() {
  // const posts: Posts = await Astro.glob(
  //   "../../contents/**/*.md"
  // );
  const entries = await contentfulClient.getEntries<Post>({
    content_type: "post",
  });

  const posts = entries.items;

  const tags = getUniqueTags(posts);

  return tags.map(tag => {
    return {
      params: {
        tag,
      },
      props: {
        tag,
      },
    };
  });
}

const { tag } = Astro.props;

// const posts: MarkdownInstance<Frontmatter>[] = await Astro.glob(
//   "../../contents/**/*.md"
// );

const entries = await contentfulClient.getEntries<Post>({
  content_type: "post",
});

const posts = entries.items;

const tagPosts = getPostsByTag(posts, tag);
---

<Layout title={`Tag:${tag} | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main
    pageTitle={`Tag:${tag}`}
    pageDesc={`All the articles with the tag "${tag}".`}
  >
    <ul>
      {
        tagPosts.map((post: any) => (
          <Card href={`/posts/${slugify(post.fields)}`} post={post.fields} />
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
